

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
   text-align: center;
   text-shadow: 2px 2px 5px black;
   
}


h2{
    font-family: "Lucida Console", "Courier New", monospace;
    color:aliceblue;
}